<%- include("partials/header") %>
<h1>classroom</h1>
<div class="container row">
    <div class="col-md-12">
        <h5><a class="btn btn-success" href="/teacher/classroom/new">Add a new Lesson Category</a></h5>
        <hr>
    </div>

    <% category.forEach((ctgry)=>{%>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="<%= ctgry.img %>" alt="picture" class="card-img">
                <a class="btn btn-warning btn-sm" style="margin: 5px 0;" href="/teacher/classroom/<%= ctgry._id%>/edit">Edit category</a>
                  <form action="/teacher/classroom/<%= ctgry._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-dark btn-sm">Delete category</button>
                  </form>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><%= ctgry.name %></h5>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  <a class="btn btn-primary" href="/teacher/classroom/<%= ctgry._id%>" >Show more</a>
                  <hr>
                </div>
              </div>
            </div>
          </div>
    <% }) %> 
</div>


<%- include("partials/footer") %>